body{
    padding: 0;
    border: 0;
    margin: 0;
}

.bateria{
    margin-top: 30px;
    margin-left: 400px;
    position: absolute;
  
       
}

.ribbon{
    position: relative;
}

.ribbon-1{
    left: -138px;
}


.button{
    margin-top: 30px;
    text-align: center;
    padding: 40px 30px;
}


.button-1{   
    color: white;
    display: inline-block;
    padding: 0 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 1rem;
    text-decoration: none;
    background-color:rgb(126, 121, 121);      
 }
 .button-1:hover{
    background-color: rgba(72, 168, 241, 0.638);
 }